---------------------------------------------MODELO NO SUPERVISADO------------------------------------------------

In [1]:
import pandas as pd
from sklearn.cluster import KMeans#importo las librerias a utilizar para el modelo
from sklearn.metrics import silhouette_score

In [2]:
df_inm_test=pd.read_parquet('test.parquet')# cargo el data set de testeo

In [3]:
df_inm_test.drop(["id", "url", "region", "region_url", #quito del data frame las columnas que no voy a utilizar
"type", "laundry_options", "parking_options", "image_url", "description", "state", 'lat', 'long'], axis = 'columns', inplace=True)

In [4]:
df_inm_test.head(5)

,sqfeet,beds,baths,cats_allowed,dogs_allowed,smoking_allowed,wheelchair_access,electric_vehicle_charge,comes_furnished
0,1344,3,2.0,0,0,1,0,0,0
1,1050,2,1.0,0,0,1,0,0,0
2,1150,2,2.0,1,1,1,1,0,0
3,1280,2,2.5,1,1,0,0,0,0
4,783,2,1.0,1,1,1,0,0,0

In [5]:
kmeans = KMeans(n_clusters=3)   #Indico la cantidad de clusters. 
kmeans.fit(df_inm_test)#Ajusto el dataset al modelo que voy a utilizar
clusters = kmeans.predict(df_inm_test)#Hago la predicci√≥n.

C:\Users\LUIS RODRIGUEZ\AppData\Roaming\Python\Python311\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

In [6]:
df_inm_test.isnull().sum()#verifico que no haya nulos

sqfeet                     0
beds                       0
baths                      0
cats_allowed               0
dogs_allowed               0
smoking_allowed            0
wheelchair_access          0
electric_vehicle_charge    0
comes_furnished            0
dtype: int64

In [7]:
df_inm_test['pred'] = clusters#los valores del array clusters van a la columna pred que creo.
cluster_mapping = {0: 0, 1: 1, 2: 2}#hago un mapeo.
df_inm_test['pred'] = df_inm_test['pred'].map(cluster_mapping)#Efectivizo la asignacion
df_inm_test

,sqfeet,beds,baths,cats_allowed,dogs_allowed,smoking_allowed,wheelchair_access,electric_vehicle_charge,comes_furnished,pred
0,1344,3,2.0,0,0,1,0,0,0,1
1,1050,2,1.0,0,0,1,0,0,0,0
2,1150,2,2.0,1,1,1,1,0,0,0
3,1280,2,2.5,1,1,0,0,0,0,1
4,783,2,1.0,1,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
38493,1180,2,2.0,1,1,0,1,0,0,0
38494,1138,3,2.0,1,1,1,0,0,0,0
38495,743,1,1.0,1,1,1,0,0,0,0
38496,1276,3,2.0,0,0,0,0,0,0,1
38497,687,1,1.0,1,1,1,0,0,0,0

In [8]:
df_test_original = df_inm_test.drop(columns=['pred'])#calculo el silhouette score
labels = kmeans.predict(df_test_original)
score = silhouette_score(df_test_original, labels)
print("Silhouette Score: {:.3f}".format(score))

Silhouette Score: 0.624

In [9]:
df_inm_test[["pred"]].to_csv("juangarciare.csv", index=False)#Transformo la columna pred como csv

In [10]:
final=pd.read_csv('juangarciare.csv')#verifico que el csv este cargado correctamente
final

       pred
0         1
1         0
2         0
3         1
4         0
...     ...
38493     0
38494     0
38495     0
38496     1
38497     0

[38498 rows x 1 columns]